<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h3>Add information here</h3>

    <form action="" method="POST">
        <label>Model</label>
        <input type="text" name="model">
        <br>

        <Label>Daily fee</Label>
        <input type="text" name="daily_fee">
        <br>

        <Label>Image</Label>
        <input type="text" name="image">
        <br>

        <Label>Year</Label>
        <input type="text" name="year">
        <br>

        <button>Submit</button>
    </form>
    
</body>
</html>